
@{
    ViewBag.Title = "ActivationRequired";
    Layout = "~/Views/Shared/_LayoutNotAuth.cshtml";
}

<div class="row" style="margin-top:5%">
    <div class="col-lg-8 col-sm-12 mb-4">
        <div class="card card-small card-post card-post--aside card-post--1">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-fiord-blue" href="#">TrackKnowledge API Test Platform</a>
                </h5>
                <p class="card-text d-inline-block mb-3">We sent an activation mail to your mail address. Please check your mail address and activate your subscription.</p>
                <div class="row mb-3">
                    <div class="col">
                        <a type="button" class="mb-2 btn btn-sm btn-success mr-1" href="@Url.Action("Index", "Home")">Index</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

