<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    @Html.Partial("~/Views/Partials/_Header.cshtml")
</head>
<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <div class="main-content-container container-fluid px-4">
                    @RenderBody()
                </div>
                @Html.Partial("~/Views/Partials/_Footer.cshtml")
                @RenderSection("AdditionalScripts", required: false)
            </main>
        </div>
    </div>
</body>
</html>
