<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
    </div>
</div>
<!-- End Page Header -->
<!-- Default Light Table -->
<div class="row" style="margin-top:5%">
    <div class="col-lg-12 col-sm-12">
        <div class="card card-small card-post card-post--aside card-post--1">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-fiord-blue" href="#">TrackKnowledge API Test Platform</a>
                </h5>
                <p class="card-text d-inline-block mb-3">Available objects:</p>
                <ul>
                    <li>Continent</li>
                    <li>Country</li>
                    <li>Nationality</li>
                    <li>League</li>
                    <li>Player</li>
                    <li>Team</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Default Light Table -->
